.AppWrap{ 
    position: relative;
    margin:auto;
    width:970px; 
    max-width:100%; 

    .App {
      text-align: center; 
      background:#4A90E2;  
      border-radius:10px;
      -moz-border-radius:10px;
      -webkit-border-radius:10px;
      -khtml-border-radius:10px; 
      box-shadow: 0 3px 20px rgba(0,0,0,.3);
    } 
  } 
  

  